{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
	<h2>Task Page for {{ user.username }}</h2>

	<table class="table table-hover table-bordered" style="text-align:center;width: auto !important;">
	<tr class="table-dark">
		<th class="table-dark col-lg-4">Task</th>
		<th class="table-dark col-lg-4">Date & Time</th>
		<th class="table-dark col-lg-4">Delete</th>

	</tr>
	{% for m in msg %}
	<tr class="table-primary">
		<td class="table-primary">{{ m.task }}</td>
		<td class="table-primary">{{ m.dt }}</td>
		<td class="table-primary"><button class="btn btn-danger"><a href="{% url 'delete' id=m.id %}"  style="color:white; text-decoration:none;" onclick="return confirm('Are you sure??')">Delete</a></button></td>
	</tr>
	{% empty %}
	<tr class="table-primary">
		<td>No Data Found</td>
	</tr>
	{% endfor %}
	</table>

	<div class="row align-items-end">
		<h3 style="float:left;" class="col">Current City: {{ city }}</h3>	
		<h3 style="float:right;" class="col">Temperature: {{ temp }}°C</h3>
	</div>
{% endblock %}